In [1]:

import MySQLdb

print("Connecting...")
dbh = MySQLdb.connect(db = "foo")
print("Connection successful.")
dbh.close()

ModuleNotFoundError: No module named 'MySQLdb'

In [ ]:

import MySQLdb

myDB = MySQLdb.connect(host="127.0.0.1", port=3306)
cHandler = myDB.cursor()

cHandler.execute("SHOW DATABASES")
results = cHandler.fetchall()
for item in results:
    print((item[0]))

cHandler.execute("SELECT DATABASE()")
results = cHandler.fetchall()
for item in results:
    print((item[0]))

cHandler.execute("USE demo")

cHandler.execute("SELECT DATABASE()")
results = cHandler.fetchall()
for item in results:
    print((item[0]))
myDB.close()

In [ ]:

import MySQLdb

myDB = MySQLdb.connect(host="127.0.0.1", port=3306)

cHandler = myDB.cursor()

cHandler.execute("CREATE DATABASE schedule")
cHandler.execute("USE schedule")

cHandler.execute("CREATE TABLE Arrivals (city TEXT,flight TEXT, time TEXT)")

cHandler.execute("SHOW TABLES")
results = cHandler.fetchall()
print(results)

cHandler.execute("DESCRIBE Arrivals")
results = cHandler.fetchall()
print(results)

myDB.close()

In [ ]:

import MySQLdb

cities = ["Dallas", "Los Angeles", "New York"]
flights = ["1144", "1045", "1520"]
times = ["230pm", "320pm", "420pm"]

myDB = MySQLdb.connect(host="127.0.0.1", port=3306, db="schedule")

cHandler = myDB.cursor()

x = 0
for city in cities:
    sqlCommand = "INSERT INTO Arrivals VALUES('%s', '%s', '%s')" % (city, flights[x], times[x])
    cHandler.execute(sqlCommand)
    x += 1

sqlCommand = "SELECT cities, flights, times FROM Arrivals"
cHandler.execute(sqlCommand)
results = cHandler.fetchall()
print(results)

myDB.commit()

myDB.close()

In [ ]:


import MySQLdb

myDB = MySQLdb.connect(host="127.0.0.1", port=3306, db="schedule")

cHandler = myDB.cursor()

sqlCommand = "SELECT * FROM Arrivals WHERE city = 'Dallas'"
cHandler.execute(sqlCommand)

results = cHandler.fetchall()
print(results)

sqlCommand = "SELECT * FROM Arrivals"
cHandler.execute(sqlCommand)

results = cHandler.fetchall()
print(results)

cityList = []
flightList = []
timeList = []
for row in results:
    cityList.append(row[0])
    flightList.append(row[1])
    timeList.append(row[2])

x = 0
for flight in flightList:
    print(("Flight %s arrives from %s at %s" % (flight, cityList[x],  timeList[x])))
    x+=1

myDB.close()

In [ ]:


import MySQLdb
cxn = MySQLdb.connect(user='root')
cxn.query('DROP DATABASE test')
cxn.query('CREATE DATABASE test')
cxn.query("GRANT ALL ON test.* to ''@'localhost'")
cxn.commit()
cxn.close()

cxn = MySQLdb.connect(db='test')
cur = cxn.cursor()
cur.execute('CREATE TABLE users(login VARCHAR(8), uid INT)')
cur.execute("INSERT INTO users VALUES('john', 7000)")
cur.execute("INSERT INTO users VALUES('jane', 7001)")
cur.execute("INSERT INTO users VALUES('bob', 7200)")
cur.execute("SELECT * FROM users WHERE login LIKE 'j%'")
for data in cur.fetchall():
      print(('%s\t%s' % data))

cur.execute("UPDATE users SET uid=7100 WHERE uid=7001")
cur.execute("SELECT * FROM users")
for data in cur.fetchall():
    print(('%s\t%s' % data))
cur.execute('DELETE FROM users WHERE login="bob"')
cur.execute('DROP TABLE users')
cur.close()
cxn.commit()
cxn.close()